@import "compass";
@import "compass/reset";

@import "variables";
@import "mixins";
@import "base";

#titleBox{
	background-color: grey;
	margin-bottom: 30px;
}

#button{
	display: block;
}
#red-star{
	color: red;
	font-size: 15px;
}