<div class="row" ng-controller='AddTaskController'>    
	<div class="small-12 columns">
		<div class="row">
			
			<div class="small-8 columns">
				
				<h1>Add Task</h1>
			</div>

		</div>

		<div class="row">
			
			<div class="small-8 columns">
				<label>Name
				<input ng-model="name" type="text" placeholder="Mop">

			</div>

		</div>
		<div class="row">
			
			<div class="small-8 columns">
				<label>Description
				<input ng-model="description" type="text" placeholder="Mop the floor">

			</div>

		</div>
		<div class="row">
			
			<div class="small-8 columns">
				<label>Deadline
				<input ng-model="deadline" type="text" placeholder="11/11/12">

			</div>

		</div>

		<div class="row">
			
			<div class="small-8 columns text-center">
				
				<a class="button tiny success" href="#/AddUser" >Submit</a>

			</div>

		</div>
	</div>
</div>