<div class="row" ng-controller='AddTaskController'>    
	<div class="small-12 columns">

	<form data-abide>   

		<div class="row">
			
			<div class="small-8 columns">
				
				<h1>Add Task</h1>
			</div>

		</div>

		<div class="row">
			
			<div class="small-8 columns">
				<label>Name<small id="red-star">*</small>
				<input ng-model="name" type="text" placeholder="Mop" required>

			</div>

		</div>
		<div class="row">
			
			<div class="small-8 columns">
				<label>Description
				<input ng-model="description" type="text" placeholder="Mop the floor">

			</div>

		</div>
		<div class="row">
			
			<div class="small-8 columns">
				<label>Assigned User
				
				<select ng-options="user as user.name for user in users" ng-model="assignedUser">
				 </select>
				 <!-- {{assignedUser}} -->
			</div>

		</div>

		<div class="row">
			
			<div class="small-8 columns">
				<label>Deadline<small id="red-star">*</small>
				 <datepicker>
        				<input ng-model="date" type="text" required>
      			</datepicker>

			</div>

		</div>

		<div class="row">
			
			<div class="small-8 columns text-center">
				
				<button class="button tiny" ng-click="addTask()">Add Task</button>

			</div>

		</div>

		<div class="row" ng-show="messageSet">
			
				<div data-alert class="small-8 columns alert-box radius" ng-class="responseClass">
					
					<h6>{{message}}</h6>
					<a href="#/AddTask" class="close">&times;</a>


				</div>

		</div>
	</form>  

	</div>
</div>