<div class="row" ng-controller='AddUserController'>    
	<div class="small-12 columns">
		<div class="row">
			
			<div class="small-8 columns">
				
				<h1>Add User</h1>
			</div>

		</div>

		<div class="row">
			
			<div class="small-8 columns">
				<label>Name
				<input ng-model="name" type="text" placeholder="John Doe">

			</div>

		</div>

		<div class="row">
			
			<div class="small-8 columns">
				<label>Email
				<input ng-model="email" type="text" placeholder="JohnDoe@email.com">

			</div>

		</div>
	</div>
</div>