<div class="row" ng-controller='SettingsController'>		
  <div class="small-12 columns">

      <div class="row">
        <div class="small-12 columns">
            	<form>
                Settings Controller
            	  <div class="row">
                      <div class="small-12 columns">
                        <input ng-model="url" type="text" placeholder="Hello">
                      </div>
                </div>

                <div class="text-center">
                  <button ng-click="setUrl()" class="button tiny info">Set URL</button>
                </div>

                {{displayText}}

              </form>
          </div>
        </div>

        
    </div>  
</div>