<div class="row" ng-controller='TaskController'>    
  <div class="small-12 columns">
 	
 	<div class="row">
 		<div class="small-10 columns">
 			<h1>Tasks</h1>
 		</div>
 		<div class="small-2 columns">
 			<a  class="button tiny success" href="#/AddTask" >Add Task</a>
 		</div>
 	</div> 	

 	<div class="row">
 		<div class="small-5 columns">
 			  
		      <input ng-click="setCompletedFalse()"  type="radio" name="taskState"  id="pendingButton" ><label for="pendingButton">Pending</label>
		      <input ng-click= "setCompletedTrue()" type="radio" name="taskState"  id="completedButton" checked="checked" ><label for="completedButton">Completed</label>
		      <input ng-click= "setEmptyCompletedFilter()" type="radio" name="taskState" id="allButton" ><label for="allButton">All</label>
		      <h6>{{taskState}}</h6>
 		</div>
 		<div class="small-3 columns">
 			
 			
		      	<label>Sort By
			        <select ng-model="formData.sortBy" >
			          <option value="dateCreated">dateCreated</option>
			          <option value="deadline">deadline</option>
			          <option value="name">name</option>
			          <option value="assignedUserName">assignedUserName</option>
			        </select>
      			</label>
    		

 		</div>

 		<div class="small-4 columns">
 			
 			  
		      <input ng-click = "setAscending()" id="ascendingButton" type="radio" name="sortOrder" checked="checked" ><label for="ascendingButton">Ascending</label>
		      <input ng-click = "setDescending()" id="descendingButton" type="radio" name="sortOrder" ><label for="descendingButton">Descending</label>
		      
 			
 		</div>

 	</div>

  <div class="row" >
      <div class="small-6 columns">
        
          <button class="button small secondary" ng-click="paginatePrev()">Previous</button>

      </div>

       <div class="small-6 columns text-right">
        
          <button class="button small secondary" ng-click="paginateNext()">Next</button>

      </div>

  </div>

 	<div class="row">

      <div class="small-12 columns">

          <table width="100%">
       
            <tbody>
      
              <tr ng-repeat="task in tasks">
                
                <td><a href="#/Tasks/{{task._id}}">{{task.name}}</a></td>
                <td class="text-center"><h6>{{task.deadline}}</h6> 
                	<h6>{{task.assignedUserName}}</h6>
                	<!-- <h6>completed: {{task.completed}}</h6>
                	<h6>order: {{filter.orderFilter}}</h6> -->
                </td>
                <td class="text-right"> <button class="button tiny" ng-click="deleteTask(task._id)">Delete Task
                </button></td>


              </tr>
            </tbody>

          </table>

      </div>


    </div>


  </div>
</div>


<!-- <div class="list" ng-controller='TaskController'>    
  Task Controller
  <form>

    <div class="text-center">
      <button ng-click="getData()" class="button tiny info">Get Data</button>
    </div>

    {{data}}

  </form>
</div> -->