<div class="row" ng-controller='TaskController'>    
  <div class="small-12 columns">
 	
 	<div class="row">
 		<div class="small-12 columns">
 			<h1>Tasks</h1>
 			<a  class="button tiny success" href="#/AddTask" >Add Task</a>

 		</div>
 	</div> 	




  </div>
</div>


<!-- <div class="list" ng-controller='TaskController'>    
  Task Controller
  <form>

    <div class="text-center">
      <button ng-click="getData()" class="button tiny info">Get Data</button>
    </div>

    {{data}}

  </form>
</div> -->