<div class="row" ng-controller='UserController'>		
  
  <div class="small-12 colums">
    
    <div class="row">

      <div class="small-12 columns">

          <table width="100%">
            
            <thead>

              <tr>
                <th>Users a cool list of people</th>
                <th></th>
                <th class="text-right"><a class="button tiny success" href="#/AddUser" >Add User</a></th>
              </tr>

            </thead>
            <tbody>
      
              <tr ng-repeat="user in users">
                <td><a href="#/Users/{{user._id}}">{{user.name}}</a></td>
                <td>{{user.email}}</td>
                <td class="text-right"> <button class="button tiny" ng-click="deleteUser(user._id, user.pendingTasks)">Delete User</button></td>

              </tr>
            </tbody>

          </table>

      </div>


    </div>

    


  </div>

	
</div>

<!-- <div class="list" ng-controller='UserController'>   
  User Controller
  <form>
    <div class="row">
          <div class="small-12 columns">
            <input ng-model="data" type="text" placeholder="data">
          </div>
      </div>

    <div class="text-center">
      <button ng-click="setData()" class="button tiny info">Set Data</button>
    </div>

    {{displayText}}

  </form>
</div> -->